{% extends 'index.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h1>Personal Projects</h1>
	</div>
	<div class="col-sm-2"></div>
</div>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 project">
		<h3>Gala Planner (in progress)</h3>
		<p>
			<strong>Solo project</strong>,
			<a href="https://github.com/chtu/gala-planner" target="_blank">GitHub</a><br/>
			This web app will allow a gala planner to set up tables for sponsors, and the sponsors can invite their guests through this app. Each table guest, including the sponsor, can then provide the planner with all of their information through the web app alone. It will utilize automatic e-mail notifications for easy communication. This idea is based on a suggestion provided by a friend, who happens to be an event planner.<br/>
			While a few features are still missing, the app can set up galas, tables, and invite new sponsors. In the near future, it will allow sponsors to send guest invitations and set seat details.<br/>
			<strong>Tools used (so far):</strong><br/>
			- Python 3.6.0<br/>
			- Django 1.10.5
		</p>
	</div>
	<div class="col-sm-2"></div>
</div><br/>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 project">
		<h3>My Personal Website (yes, this one!)</h3>
		<p>
			<strong>Solo project</strong>,
			<a href="https://github.com/chtu/personalwebsite" target="_blank">GitHub</a><br/>
			My personal website to put all my stuff in one spot.<br/>
			I plan on updating it as I complete more projects.<br/>
			<strong>Tools used:</strong><br/>
			- Python 3.6.0<br/>
			- Django 1.10.5<br/>
			- Bootstrap 3.3.7<br/>
			- jQuery 3.1.1

		</p>
	</div>
	<div class="col-sm-2"></div>
</div>


{% endblock %}