<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="menu">menu</span>                    
      </button>
      <a class="navbar-brand" href="{% url 'home:home' %}">Charlie Tuttle</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="navbutton" href="{% url 'home:projects' %}">Projects</a></li>
        <li><a class="navbutton" href="https://www.linkedin.com/in/charlie-tuttle-54864434/" target="_blank">LinkedIn</a></li>
        <li><a class="navbutton" href="https://github.com/chtu" target="_blank">GitHub</a></li>
        <li><a class="navbutton" href="{% url 'home:about' %}">About Me</a></li>
      </ul>
    </div>
  </div>
</nav>